<nav>
	<%= link_to 'Home' ,root_path %>
  <% if session[:user_id] %>
    <%= link_to 'Log Out', '/logout' %>
    <%= link_to 'Profile' ,user_path(session[:user_id]) %>
  <% else %>
    <%= link_to 'Register' ,new_user_path %>
    <%= link_to 'Login' ,'/login' %>
  <% end  %>
</nav>
